<div class="row pt-2 mb-3">
  <div class="col-6">

  </div>
  <div class="col-6 d-flex justify-content-end">
    <div class="header-notifications d-flex align-self-center"><i data-feather="bell"></i><span class="badge badge-light">0</span></div>
    <div class="header-actions d-flex align-self-center">
      <div class="dropdown ">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%- user.name %>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/dashboard/customers/edit/<%- user._id %>">My Account</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>
      </div>
  </div>
</div>

