<header class="header flex">
  <div class="col-50">
    <div class="header-search"><form action=""><button class="button-icon" type="submit"><i data-feather="search"></i></button><input type="text" class="input search" name="search" placeholder="Search"></form></div>
  </div>
  <div class="col-50 flex flex-end">
    <div class="header-notifications"><i data-feather="bell"></i></div>
    <div class="header-actions">Samuel Gallo <i data-feather="chevron-down"></i></div>
  </div>
</header>