<div class="sidebar">
  <div class="logo">Dashboard</div>

  <div class="sidebar-inner">
    <ul class="sidebar-links sidebar-links-top">
      <li><a href="/dashboard"><i data-feather="home"></i> Home</a></li>
      <li><a href="/dashboard/categories"><i data-feather="layers"></i> Categories</a></li>
      <li><a href="/dashboard/products"><i data-feather="book"></i> Products</a></li>
      <li><a href="/dashboard/customers"><i data-feather="users"></i> Customers</a></li>
      <li><a href="/dashboard/pages"><i data-feather="file"></i> Pages</a></li>
    </ul>

    <ul class="sidebar-links sidebar-links-bottom">
      <li><a href="/dashboard/settings"><i data-feather="settings"></i> Settings</a></li>
    </ul>
  </div>
</div>