<nav class="col-12 col-lg-2 sidebar">
  <div class="sidebar-sticky d-lg-flex flex-lg-column">
    <div class="logo"> 
      <button class="navbar-toggler collapsed d-md-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg viewBox="0 0 100 80" width="25" height="25">
          <rect width="100" height="20"></rect>
          <rect y="30" width="100" height="20"></rect>
          <rect y="60" width="100" height="20"></rect>
      </svg>
    </button> <a class="d-inline-block" href="/dashboard">Dashboard</a></div>
    <div class="collapse d-xl-block" id="navbarToggleExternalContent">
    <ul class="nav flex-column sidebar-links sidebar-links-top">
      <li class="nav-item">
        
        
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/dashboard">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/categories">
          <span data-feather="layers"></span>
          Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/products">
          <span data-feather="book"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/pages">
          <span data-feather="book"></span>
          Pages
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/customers">
          <span data-feather="users"></span>
          Customers
        </a>
      </li>
      
    </ul>
    <% if(user&&user.role == 'admin'){ %>
    <ul class="nav flex-column sidebar-links sidebar-links-bottom">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/settings">
          <i data-feather="settings"></i> Settings
        </a>
      </li>
    </ul>
    <% } %>
  </div>
  </div>
</nav>