<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
  <style>
    *{margin: 0 auto;padding: 0px;box-sizing: border-box;}
    html, body{height: 100%;font-family: sans-serif;}
    body{display: flex;}
    .main{align-self: center;}
  </style>
</head>
<body>
  <div class="main">
    <p>
      The request was not found on this server.
    </p>
  </div>
</body>
</html>