<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body class="home">

  <div class="main">
    <%- include('partials/sidebar'); -%>

    

    <div class="wrapper">
      <%- include('partials/header'); -%>

      <div class="content">
        <div class="welcome">
          <h1>Hi, Samuel Gallo</h1>
          <span>How are you feeling today?</span>
        </div>
        content

        <div class="box flex">
          <div class="box-data">
            <h2>Products</h2>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lorum ipsum dolor sit amet</td>
                  <td><a href="#"><i data-feather="edit"></i></a></td>
                </tr>
                <tr>
                  <td>Lorum ipsum dolor sit amet</td>
                  <td><a href="#"><i data-feather="edit"></i></a></td>
                </tr>
                <tr>
                  <td>Lorum ipsum dolor sit amet</td>
                  <td><a href="#"><i data-feather="edit"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box-data">
            <h2>Categories</h2>
          </div>
          <div class="box-data">
            <h2>Orders</h2>
          </div>
          <div class="box-data">
            <h2>Statics</h2>
          </div>
        </div>

      </div>

      <%- include('partials/footer'); -%>

    </div>
    

    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script src="/public/js/main.js"></script>
</body>
</html>