<%- include('partials/head'); -%>

<div class="container">
  <div class="row">
    <main role="main" class="col-md-4 ml-sm-auto col-lg-4 px-4 mt-5">
      <% if (typeof message !== 'undefined') { %>
        <div class="alert alert-success" role="alert">
          <%= message&&message %>
        </div>
        <% } %>
        <h1 class="text-center text-xl-left d-block">Dashboard Ecommerce</h1>
      <form method="POST" action="/login/auth" class="mb-5">
        <a href="/register" class="btn btn-dark  my-4 w-100">Register</a>
        <span class="my-2 d-block text-center">Or</span>
        <h1 class="h3 mb-3 font-weight-normal text-center d-block">Sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3 d-none">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Sign in</button>
        </form>

        <a href="/auth/google" class="btn "><img alt="Google sign-in" 
          src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" /></a>


        <a href="/auth/linkedin" class="btn "><img alt="Linkedin sign-in" 
          src="https://content.linkedin.com/content/dam/developer/global/en_US/site/img/signin-button.png" /></a>

      <%- include('partials/copyright'); -%>

    </main>
  </div>
</div>
<%- include('partials/footer'); -%>

