input{
  min-height: 34px;
  min-width: 220px;
  border: 1px solid #dcdde1;
  border-radius: 2px;
  padding: .3rem;
  font-size: 14px;
  color: #192a56;
}
input:focus{
  border: 1px solid #dcdde1;
  background: #dcdde1;
  outline: 0;
}

button{
  border: 0;
  background: inherit;
}
button:focus{
  outline: 0;
}